<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
      xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd ">    
        <context:component-scan base-package="com.controller"/>
        <context:component-scan base-package="com.service"/> 
         
        <mvc:annotation-driven/>
        <!--resource 过滤掉不需要前端控制器的资源 -->
       <!--  <mvc:resources location="/css/" mapping="/css/**"/>
        <mvc:resources location="/html/" mapping="/html/**"/>
        <mvc:resources location="/img/" mapping="/img/**"/>
        <mvc:resources location="/logos/" mapping="/logos/**"/> -->
        <mvc:default-servlet-handler/> 
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
              id="internalResourceViewResolver">
              <property name="prefix" value="/WEB-INF/jsp/"/>
              <property name="suffix" value=".jsp"/>
        </bean>
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
           p:defaultEncoding="UTF-8"
           p:maxUploadSize="7000000"
           p:uploadTempDir="fileUpload/temp">
        </bean>
        <mvc:interceptors>
           <mvc:interceptor>
              <mvc:mapping path="/**"/>
              <mvc:exclude-mapping path="/admin/toAdminLogin"/>
              <mvc:exclude-mapping path="/admin/adminLogin"/>
              <mvc:exclude-mapping path="/goods/toIndex"/>
              <bean class="interceptor.LoginInterceptor"/>
           </mvc:interceptor>
           <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"></bean>
        </mvc:interceptors>
   
        <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
           <property name="defaultLocale" value="zh_CN"></property>
        </bean>
        <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
           <property name="basenames">
                <list>
                    <value>/WEB-INF/resource/errorMessages</value>
                    <value>/WEB-INF/resource/messages</value>
                </list>
           </property>
        </bean>
        <!-- 
        <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
           <property name="basename" value="/WEB-INF/resource/messages"></property>
        </bean> -->
        
</beans>
    